<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="wrapping bottom-area">
		<h2>스마트도서관 소장도서 검색</h2>
		
		<div class="book-search">
			<!-- 지역 선택 -->
			<div class="form-group">
				<label for="region">구 선택 </label>
				<select id="region" name="region" required>
					<option value="">선택하세요</option>
					<option th:each="library1 : ${library1}"
							th:text="${library1}"
							th:value="${library1}">
					</option>
				</select>
			</div>
			
			<!-- 도서관 선택 -->
			<div class="form-group">
				<label for="library">도서관 선택 </label>
				<select id="library" name="library" required>
					<option value="">구를 먼저 선택하세요</option>
				</select>
			</div>

			<!-- 검색 버튼 -->
			<button id="search-btn" type="button">검색</button>

		</div>
		<!-- 도서 결과 -->
		<div class="gu-table">
			<table class="gu-page">
				<thead>
					<tr>						
						<th></th>
						<th>표지</th>
						<th>도서명</th>
						<th>저자</th>
						<th>출판사</th>
					</tr>
				</thead>
			<tbody class="search-item"></tbody>
		</table>
		</div>
		
		
	</div>
	
	<script>
		// 지역을 선택하면 도서관 목록을 불러옴
		$('#region').change(function(){
			var selectedRegion = $(this).val();
			if (selectedRegion) {
				$.ajax({
					url:"/getLibrariesByRegion",
					method: "GET",
					data: { regionNm : selectedRegion },
					success: function(response) {
						$('#library').empty();
						$('#library').append('<option value="">도서관을 선택하세요</option>');
						
						response.forEach(function(library){
							$('#library').append('<option value="' + library.libIdx + '">' + library.libNm + '</option>');
						});
					},
					error: function(xhr, status, error) {
						alert("Error: "+error);
					}
				});
			} else {
				$('#library').empty();
				$('#library').append('<option value="">도서관을 선택하세요</option>');
			}
		})
		
		// 도서관 선택 후 도서 목록 요청
            $('#search-btn').click(function () {
                const selectedLibrary = $('#library').val();
                if (selectedLibrary) {
                	console.log("Selected Library: ", selectedLibrary);  // selectedLibrary 값을 확인
                    $.ajax({
                        url: `/library/${selectedLibrary}/books`,
                        method: 'GET',
                        success: function (books) {
                            const bookList = $('.search-item');
                            bookList.empty();
                            if (books.length > 0) {
                                books.forEach(function (book, index) {
                                    bookList.append(`
                            				<tr>                                    
                             					<td>${index + 1}</td>
                            					<td><img src=${book.bookImg}></td>
                             					<td>${book.title}</td>
                            					<td>${book.author}</td>
                            					<td>${book.publisher}</td>
                            				</tr>
                                    `);
                                });
                            } else {
                                bookList.append('<li>도서가 없습니다.</li>');
                            }
                        },
                        error: function () {
                        	console.error("AJAX: ", error);  // selectedLibrary 값을 확인
                            alert('도서 목록을 불러오는 데 실패했습니다.');
                        }
                    });
                } else {
                    alert('도서관을 선택하세요.');
                }
            });
	</script>
</body>
</html>