<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>나만의 추천도서</title>
<!-- Swiper CSS (슬라이더 사용 위해 추가) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
</head>
<body>
    <div class="recommendation wrapping">
        <h2>나만의 추천도서</h2>
        <div class="carousel">
            <div class="book-item" th:each="book : ${recomBooks}">
            	<img th:src="${book.bookImg}">
            	<div th:text="${book.title}" class="title"></div>
        	</div>
    	</div>
	</div>

	<script>
        const prevButton = document.querySelector('.carousel .prev');
        const nextButton = document.querySelector('.carousel .next');
        const images = document.querySelectorAll('.carousel img');
        let currentIndex = 0;

        function updateCarousel() {
            images.forEach((img, index) => {
                img.classList.toggle('active', index === currentIndex);
            });
        }
        prevButton.addEventListener('click', () => {
            currentIndex = (currentIndex - 1 + images.length) % images.length;
            updateCarousel();
        });

        nextButton.addEventListener('click', () => {
            currentIndex = (currentIndex + 1) % images.length;
            updateCarousel();
        });
        updateCarousel();
    </script>
</body>
</html>